
<div class="page-header">
  <h1><%= render_topic_title(@topic) %>  <small>- Post by <%= render_topic_author(@topic) %>； -Board: <%= render_topic_board(@topic) %></small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div><%= image_tag(render_topic_avatar(@topic), :class => "thumbnail size-limit centerize" )%></div>
  </div>
  <div class="col-md-9">
    <%= simple_format(render_topic_content(@topic)) %>
  </div>
</div>





