
<div class="page-header">
  <h1><%= @topic.title %>  <small>- Post by <%= @topic.author.name %>； -Board: <%= @topic.board.name %></small></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div><%= image_tag(@topic.avatar.url, :class => "thumbnail size-limit centerize" )%></div>
  </div>
  <div class="col-md-9">
    <%= simple_format(@topic.content) %>
  </div>
</div>





