
<%= render "topic_breadcrum" %>

<div class="page-header">
      <h1><%= render_topic_title(@topic) %><span class="badge">Author: <%= render_topic_author(@topic) %></span></h1>
      分類： <%= render :partial => "topic_tags", locals: { tags: @tags} %>
</div>
<div class="row">
  <div class="col-md-3">
    <div><%= image_tag(render_topic_avatar(@topic), :class => "thumbnail size-limit centerize" )%></div>
  </div>
  <div class="col-md-9">
    <h2>Content:</h2>
    <%= simple_format(render_topic_content(@topic)) %>
  </div>
</div>
<span id="topic-collection">
  <%= render_account_collection_link(current_user, @topic) %>
</span>

<h2>New Comment</h2>
<%= form_for [@board, @topic, @new_comment] do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 5 %>
  </div>
  <div class="actions">
    <%= submit_tag "Add comment" %>
  </div>
<% end %>
<%= render :partial => "common/comment_list", locals: { comments: @comments} %>


