<h1>Admin Boards list</h1>

<div class="panel panel-default">
  <div class="panel-heading">Boards</div>
  <table class="table">
    <thead>
      <td class="col-md-1">#</td>
      <td class="col-md-3">Board Name</td>
      <td class="col-md-6">Description</td>
      <td class="col-md-2"></td>
    </thead>
  <% @boards.each do |board| %>
    <tr>
      <td><%= board.id %></td>
      <td><%= render_board_name_path(board) %></td>
      <td><%= render_board_desc(board) %></td>
      <td>
        <%= render_edit_admin_board_path(board)%>
        <%= render_destroy_admin_board_path(board) %>
      </td>
    </tr>
  <% end %>
  </table>  
</div>
