<h1>Topics#edit</h1>
<p>Find me in app/views/topics/edit.html.erb</p>

<%= simple_form_for [:account, @topic] do |f|  %>
  <%= f.input :title, :required => true %>
  <%= f.input :content, :required => true %>
  <%= f.input :avatar, :label => "Image" %>
  <%= render "old_avatar" %>
  <%= f.submit "Submit", :disable_with => "Submiting..." %>
<% end %>