<h1>Topics#edit</h1>
<p>Find me in app/views/topics/edit.html.erb</p>

<%= simple_form_for [:account, @topic] do |f|  %>
  <%= f.input :title, :required => true %>
  <%= f.input :content, :required => true %>
  <%= f.input :avatar, :label => "Image" %>
  <% if @topic.avatar.exists? %>
    <%= image_tag @topic.avatar.url(:thumb) %>
    <%= f.input :remove_avatar, :label => "Remove image?", as: :radio_buttons, :checked => false %>
  <% end %>
  <%= f.submit "Submit", :disable_with => "Submiting..." %>
<% end %>