<h1>Topics list</h1>

<table>
    <thead>
      <td>#</td>
      <td>title</td>
      <td>content</td>
    </thead>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= link_to(topic.title, [topic.board, topic]) %></td>
      <td><%= topic.content %></td>
      <td><%= link_to("edit", edit_account_board_topic_path(topic.board_id, topic)) %> <%= link_to("delete", account_board_topic_path(topic.board_id, topic), :method => :delete, :confirm => "Are you sure?") %></td>
    </tr>
  <% end %>
</table>
