<h1>Topics list</h1>

<div class="panel panel-default">
  <div class="panel-heading">Topics</div>
  <table class="table">
    <thead>
      <td class="col-md-1">#</td>
      <td class="col-md-3">title</td>
      <td class="col-md-6">content</td>
      <td class="col-md-2"></td>
    </thead>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.id %></td>
      <td><%= render_topic_title_path(topic) %></td>
      <td><%= render_topic_content(topic) %></td>
      <td >
        <%= render_edit_account_topic_path(topic) %>
        <%= render_destroy_account_topic_path(topic) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

