<h1>Topics list</h1>

<table>
  <thead>
    <td>#</td>
    <td>title</td>
    <td>content</td>
  </thead>
  <% @topics.each do |topic| %>
  <tr>
    <td><%= render_topic_id(topic) %></td>
    <td><%= link_to(render_topic_title(topic), render_board_topic_path(topic)) %></td>
    <td><%= render_topic_content(topic) %></td>
    <td><%= link_to("edit", render_edit_account_topic_path(topic)) %> <%= link_to("delete", render_account_topic_path(topic), :method => :delete, :confirm => "Are you sure?") %></td>
  </tr>
  <% end %>
</table>
