
<div class="page-header">
  <h1><%= @board.name %></h1>
  <p><%= @board.description %></p>
  <% if current_user && current_user.is_admin %>
  <%= link_to("Edit", edit_board_path(@board)) %>
  <%= link_to("Delete", board_path(@board), :method => :delete, :confirm => "You Sure?") %>
<% end %>
</div>





<h2>Topics   <%= link_to("+New Topic", new_board_topic_path(@board), :class => "btn btn-mini btn-success" ) %></h2>
<div class="panel panel-default">
  <div class="list-group">
    <%= render "topic_list" %>
  </div>
</div>
