<ol class="breadcrumb">
  <li><%= link_to("Home（Board List）", root_path) %></li>
  <li class="active"><%= render_board_name(@board) %></li>
</ol>

<div class="page-header">
  <h1><%= render_board_name(@board) %> <%= render_new_topic_path(@board, @topic)%> <%= link_to("RSS", board_feed_path(@board), :class => "btn btn-warning", :target => "_blank" )%></h1>
  <p><%= render_board_desc(@board) %></p>
</div>



<div class="row">
  <div class="col-md-2">
    <%= render "board_tags" %>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Topics</div>
      <%= render "topic_list" %>
    </div>
  </div>
</div>

<%= button_to("新增機器人留言", generate_comments_admin_board_path(@board)) %>

<h2>New Comment</h2>
<%= render :partial => "common/comment_form", locals: { board: @board, topic: nil} %>
<h2>Comments</h2>
<%= render :partial => "common/comment_list", locals: { comments: @comments} %>