<ol class="breadcrumb">
  <li><%= link_to("Home（Board List）", root_path) %></li>
  <li class="active"><%= render_board_name(@board) %></li>
</ol>

<div class="page-header">
  <h1><%= render_board_name(@board) %></h1>
  <p><%= render_board_desc(@board) %></p>
</div>


<h2>Topics   <%= link_to("+New Topic", new_account_topic_path(@board, :board_id => @board.id), :class => "btn btn-mini btn-success" ) %></h2>

<div class="panel panel-default">
  <div class="panel-heading">Topics</div>
  <%= render "topic_list" %>
</div>
